<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a href="https://www.in28minutes.com" class="navbar-brand">In28minutes</a>
        </div>
        <ul class="navbar-nav">
            <li><a *ngIf="hardCodedAuthenticatedService.isUserLoggedIn()" routerLink="welcome/dummy" class="nav-link">Home</a></li>
            <li><a *ngIf="hardCodedAuthenticatedService.isUserLoggedIn()" routerLink="/todos" class="nav-link">Todos</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li *ngIf="!hardCodedAuthenticatedService.isUserLoggedIn()"><a routerLink="/login" class="nav-link">Login</a></li>
            <li *ngIf="hardCodedAuthenticatedService.isUserLoggedIn()"><a routerLink="/logout"class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>
